body {
	font-family: "Arial", sans-serif;
	background-color: white;
	color: black;
	margin: 0px;
}

.header {
	background-color: black;
	color: white;
	font-size: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.header h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Georgia", sans-serif;
}

.headline {
	font-family: "Arial", sans-serif;
	max-width: 750px;
	margin: 0px auto;
}

.subheading {
	font-family: "TimesNewRoman", sans-serif;
	max-width: 750px;
	margin: 0px auto;
	font-size: 18px;
}

.byline {
	font-size: 16px;
	max-width: 750px;
	margin: 0px auto;
	font-family: "Georgia", sans-serif;
	font-weight: bold;
}

}
.story {
	max-width: 750px;
	margin: 0px auto;
	padding: 0px 10px;
}

.image1 {
	max-width: 750px;
}


}

.image2 {
	max-width: 750px;
}

.story2 {
	margin: 10px auto;
	padding: 0px 10px;
	max-width: 750px;
	font-family: "Georgia", sans-serif;
	line-height: 25px;
}


/*Your CSS goes here.*/